@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1737440858005') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e624";
}

.icon-home:before {
  content: "\e73b";
}

.icon-tupian:before {
  content: "\e60f";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-bilibili-fill:before {
  content: "\e69c";
}

